body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0055a5;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
#printer-details {
  float: right;
  width: 50%;
  flex: 1 1 400px;
  max-width: 600px;
  text-align: center;
  margin-left: 30px; /* отступ справа от картинки */
}

header nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 60px 30px;
  text-align: center;
}

.hero {
  background: #0072ce;
  color: #fff;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: grab;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.btn-details {
  margin-top: 10px;
  padding: 8px 12px;
  background: #0055a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-details:hover {
  background: #003f7f;
}

.w{
  align-items: center;
}



/* Модальное окно */
.modal {
  display: none;
  position: fixed; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.gallery {
  padding-top: 50px;
  padding-left: 50px;
  position: sticky;
  width: 33.33333333%; /* можно подстраивать */
  margin: 20px ;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel img {
  width: 100%;
  flex-shrink: 0;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
}

#prev { left: 50px; }
#next { right: 0; }