* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}

.content {
  height: 50vh;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.parallax {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero {
  background-image: url("https://optimalgroup.ru/upload/iblock/814/kieenma6mtrjqpk0kpqpigc74dtu8e6j.jpg");
}

.mid {
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/4/92/347755735179924.jpeg");
}

.end {
  background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_69d5f82f8e3c3d157e85c196_69d5f82f8d388779ac711dec/scale_1200");
}

.parallax h1 {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 12px;
}